In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../Data/cleaned/nomad_cities.csv')

In [3]:
data.head()

,coffee_in_cafe,cost_beer,cost_coworking,cost_nomad,female_friendly,fragile_states_index,free_wifi_available,freedom_score,friendly_to_foreigners,internet_speed,latitude,life_score,longitude,nightlife,nomad_score,place,places_to_work,racism,safety
0,1.73,1.73,152.41,1364,1.0,52.7,0.4,0.6,0.6,31,47.497912,0.86,19.040235,1.0,1.00,Budapest,1.0,0.40,0.60
1,0.85,0.85,98.88,777,0.8,78.8,0.6,0.2,0.6,14,18.787747,0.75,98.993128,0.4,0.95,Chiang Mai,0.8,0.40,0.80
2,1.99,1.99,159.13,1639,1.0,40.8,0.6,0.8,0.8,15,50.075538,0.83,14.437800,1.0,0.94,Prague,1.0,0.42,0.80
3,1.88,1.88,47.01,1545,1.0,74.6,1.0,0.6,0.8,16,25.091075,0.93,121.559834,0.6,0.94,Taipei,1.0,0.00,1.00
4,5.00,5.00,200.00,3028,0.8,34.0,0.6,0.6,0.8,118,30.267153,0.95,-97.743061,1.0,0.94,Austin,1.0,0.80,0.73

In [4]:
country = pd.read_csv('../../../../../Downloads/simplemaps_worldcities_basicv1.76/worldcities.csv')

In [5]:
country.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37732000.0,1392685764
1,Jakarta,Jakarta,-6.1750,106.8275,Indonesia,ID,IDN,Jakarta,primary,33756000.0,1360771077
2,Delhi,Delhi,28.6100,77.2300,India,IN,IND,Delhi,admin,32226000.0,1356872604
3,Guangzhou,Guangzhou,23.1300,113.2600,China,CN,CHN,Guangdong,admin,26940000.0,1156237133
4,Mumbai,Mumbai,19.0761,72.8775,India,IN,IND,Mahārāshtra,admin,24973000.0,1356226629

In [6]:
data = data.rename(columns={"place": "city"})

In [7]:
country.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37732000.0,1392685764
1,Jakarta,Jakarta,-6.1750,106.8275,Indonesia,ID,IDN,Jakarta,primary,33756000.0,1360771077
2,Delhi,Delhi,28.6100,77.2300,India,IN,IND,Delhi,admin,32226000.0,1356872604
3,Guangzhou,Guangzhou,23.1300,113.2600,China,CN,CHN,Guangdong,admin,26940000.0,1156237133
4,Mumbai,Mumbai,19.0761,72.8775,India,IN,IND,Mahārāshtra,admin,24973000.0,1356226629

In [8]:
copy_data = data.copy()

In [9]:
copy_data.head()

,coffee_in_cafe,cost_beer,cost_coworking,cost_nomad,female_friendly,fragile_states_index,free_wifi_available,freedom_score,friendly_to_foreigners,internet_speed,latitude,life_score,longitude,nightlife,nomad_score,city,places_to_work,racism,safety
0,1.73,1.73,152.41,1364,1.0,52.7,0.4,0.6,0.6,31,47.497912,0.86,19.040235,1.0,1.00,Budapest,1.0,0.40,0.60
1,0.85,0.85,98.88,777,0.8,78.8,0.6,0.2,0.6,14,18.787747,0.75,98.993128,0.4,0.95,Chiang Mai,0.8,0.40,0.80
2,1.99,1.99,159.13,1639,1.0,40.8,0.6,0.8,0.8,15,50.075538,0.83,14.437800,1.0,0.94,Prague,1.0,0.42,0.80
3,1.88,1.88,47.01,1545,1.0,74.6,1.0,0.6,0.8,16,25.091075,0.93,121.559834,0.6,0.94,Taipei,1.0,0.00,1.00
4,5.00,5.00,200.00,3028,0.8,34.0,0.6,0.6,0.8,118,30.267153,0.95,-97.743061,1.0,0.94,Austin,1.0,0.80,0.73

In [10]:
merged_data = pd.merge(copy_data, country, on="city")

In [11]:
merged_data

,coffee_in_cafe,cost_beer,cost_coworking,cost_nomad,female_friendly,fragile_states_index,free_wifi_available,freedom_score,friendly_to_foreigners,internet_speed,...,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,1.73,1.73,152.41,1364,1.0,52.7,0.4,0.6,0.6,31,...,Budapest,47.4925,19.0514,Hungary,HU,HUN,Budapest,primary,2997958.0,1348611435
1,0.85,0.85,98.88,777,0.8,78.8,0.6,0.2,0.6,14,...,Chiang Mai,18.7953,98.9986,Thailand,TH,THA,Chiang Mai,admin,1198000.0,1764662886
2,1.99,1.99,159.13,1639,1.0,40.8,0.6,0.8,0.8,15,...,Prague,50.0875,14.4214,Czechia,CZ,CZE,Praha,primary,1335084.0,1203744823
3,1.88,1.88,47.01,1545,1.0,74.6,1.0,0.6,0.8,16,...,Taipei,25.0375,121.5625,Taiwan,TW,TWN,Taipei,primary,9078000.0,1158881289
4,5.00,5.00,200.00,3028,0.8,34.0,0.6,0.6,0.8,118,...,Austin,30.3005,-97.7522,United States,US,USA,Texas,admin,1659251.0,1840019590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074,2.65,2.65,215.73,1162,0.2,110.8,0.2,0.2,0.2,2,...,Damascus,45.4233,-122.4436,United States,US,USA,Oregon,NaN,10878.0,1840018571
1075,4.00,4.00,28.58,2637,0.2,101.7,0.4,0.2,0.4,2,...,Bahawalpur,29.3956,71.6836,Pakistan,PK,PAK,Punjab,minor,762111.0,1586038700
1076,2.00,2.00,183.00,2980,0.2,104.7,0.4,0.2,0.4,3,...,Baghdad,33.3153,44.3661,Iraq,IQ,IRQ,Baghdād,primary,6183000.0,1368596238
1077,1.60,1.60,32.01,1099,0.4,80.2,0.6,0.2,1.0,4,...,Cali,3.4206,-76.5222,Colombia,CO,COL,Valle del Cauca,admin,2471474.0,1170417589
1078,5.00,5.00,360.00,5009,0.2,93.9,0.2,0.2,0.2,1,...,Pyongyang,39.0194,125.7381,North Korea,KP,PRK,P’yŏngyang,primary,2863000.0,1408738594

In [13]:
merged_data.columns

Index(['coffee_in_cafe', 'cost_beer', 'cost_coworking', 'cost_nomad',
       'female_friendly', 'fragile_states_index', 'free_wifi_available',
       'freedom_score', 'friendly_to_foreigners', 'internet_speed', 'latitude',
       'life_score', 'longitude', 'nightlife', 'nomad_score', 'city',
       'places_to_work', 'racism', 'safety', 'city_ascii', 'lat', 'lng',
       'country', 'iso2', 'iso3', 'admin_name', 'capital', 'population', 'id'],
      dtype='object')

In [17]:
nomad = merged_data[['country', 'city', 'coffee_in_cafe', 'cost_beer', 'cost_coworking', 'cost_nomad',
       'female_friendly', 'fragile_states_index', 'free_wifi_available',
       'freedom_score', 'friendly_to_foreigners', 'internet_speed', 'latitude',
       'life_score', 'longitude', 'nightlife', 'nomad_score', 'places_to_work', 'racism', 'safety']]

In [20]:
nomad['country'].unique()

array(['Hungary', 'Thailand', 'Czechia', 'Taiwan', 'United States',
       'Spain', 'Colombia', 'Philippines', 'Australia', 'Venezuela',
       'Portugal', 'Brazil', 'Belgium', 'New Zealand', 'United Kingdom',
       'India', 'Sweden', 'Indonesia', 'Argentina', 'Costa Rica',
       'Germany', 'Paraguay', 'Chile', 'Vietnam', 'Hong Kong',
       'South Korea', 'Netherlands', 'Canada', 'Switzerland', 'Malta',
       'Suriname', 'Ecuador', 'Trinidad and Tobago', 'France', 'Italy',
       'Austria', 'Greece', 'Panama', 'Japan', 'Norway', 'Mexico',
       'Singapore', 'Poland', 'Latvia', 'Estonia', 'Uruguay', 'Macau',
       'Macedonia', 'China', 'Ireland', 'Seychelles', 'El Salvador',
       'Belarus', 'Russia', 'Dominican Republic', 'Peru', 'Serbia',
       'Denmark', 'Armenia', 'Slovakia', 'Turkey', 'Finland', 'Cyprus',
       'Croatia', 'Slovenia', 'Puerto Rico', 'Honduras', 'Bulgaria',
       'Gibraltar', 'Ukraine', 'Georgia', 'Jordan', 'Lithuania',
       'Sierra Leone', 'Malaysia', 'Cuba', 'Nicaragua', 'Guatemala',
       'Jamaica', 'Norfolk Island', 'Bosnia and Herzegovina',
       'United Arab Emirates', 'Romania', 'Oman', 'Israel', 'Monaco',
       'Brunei', 'Luxembourg', 'Sri Lanka', 'Montenegro', 'Senegal',
       'Mauritius', 'Albania', 'Bahrain', 'Morocco', 'Azerbaijan',
       'Jersey', 'Maldives', 'Moldova', 'South Africa', 'Bangladesh',
       'Qatar', 'Saudi Arabia', 'Kazakhstan', 'Bermuda', 'Cambodia',
       "Côte d'Ivoire", 'Kenya', 'Lebanon', 'Bolivia', 'West Bank',
       'Pakistan', 'Belize', 'Egypt', 'Mongolia', 'Kyrgyzstan', 'Laos',
       'Nigeria', 'Tunisia', 'Congo (Kinshasa)', 'Namibia', 'Mali',
       'Nepal', 'Algeria', 'Rwanda', 'Uzbekistan', 'Mozambique',
       'Congo (Brazzaville)', 'Cayman Islands', 'Madagascar', 'Tanzania',
       'Uganda', 'Ghana', 'Tajikistan', 'Iraq', 'Ethiopia', 'Zimbabwe',
       'Iran', 'Guinea', 'Angola', 'Sudan', 'Papua New Guinea', 'Libya',
       'Syria', 'North Korea'], dtype=object)

In [19]:
nomad.isna().sum()

country                   0
city                      0
coffee_in_cafe            0
cost_beer                 0
cost_coworking            0
cost_nomad                0
female_friendly           0
fragile_states_index      0
free_wifi_available       0
freedom_score             0
friendly_to_foreigners    0
internet_speed            0
latitude                  0
life_score                0
longitude                 0
nightlife                 0
nomad_score               0
places_to_work            0
racism                    0
safety                    0
dtype: int64